<script lang="ts">
	import cookies from "js-cookie";

	let accent =
		cookies.get("t-accent") !== undefined
			? parseInt(cookies.get("t-accent"))
			: "random";
	let themeMode = cookies.get("theme") ?? "auto";

	function accentInput(
		e: Event & { currentTarget: EventTarget & HTMLInputElement }
	) {
		const hue = e.currentTarget.value;
		accent = hue;
		document.documentElement.style.setProperty("--accent-hue", hue + "deg");
	}

	const themeModes: [string, string][] = [
		["auto detect", "auto"],
		["always dark", "dark"],
		["always light", "light"],
	];

	// Data-driven!
	const presets = ["default", "accented"];
	const categories = {
		"t-dark": ["galaxy", "chalkboard"],
		"t-light": ["milk", "pastel"],
	};

	const activeThemes: { [key: string]: string } = {
		"t-dark": cookies.get("t-dark") ?? "galaxy",
		"t-light": cookies.get("t-light") ?? "milk",
	};
	function selectPreset(preset: string) {
		activeThemes.preset = preset;
		const idx = presets.indexOf(preset);
		for (const category in categories) {
			activeThemes[category] = categories[category][idx];
		}
	}

	function selectTheme(category: string, name: string) {
		delete activeThemes.preset;
		activeThemes[category] = name;
	}

	function saveSettings() {
		// When I used structuredClone last year in Pipegame I had to polyfill
		// it for my shit firefox fork so I'm just going to use the tried &
		// tested bespoke method for doing this nonsense
		const tmpActiveThemes = JSON.parse(JSON.stringify(activeThemes));
		delete tmpActiveThemes.preset;
		const toSave = {
			theme: themeMode,
			"t-accent": accent,
			...tmpActiveThemes,
		};
		for (const cookie in toSave) {
			document.cookie = `${cookie}=${toSave[cookie]}; Path=/; Max-Age=2147483647`;
		}

		window.location.reload();
	}
</script>

<h1>theme picker</h1>
<div style="color: var(--color-active-1)" data-label="accent color">
	<div id="accent" class:random={accent === "random"}>
		<button
			id="accent-random"
			disabled={accent === "random"}
			on:click={() => (accent = "random")}
		>
			pick random
		</button>
		<input
			on:input={accentInput}
			id="accent-input"
			type="range"
			step="1"
			value={cookies.get("t-accent") ?? 290}
			max="360"
		/>
	</div>
</div>
<hr />
<div data-label="theme mode">
	<div class="theme-picker">
		{#each themeModes as [name, id]}
			<div>
				<button
					id="theme-mode-auto"
					on:click={() => (themeMode = id)}
					disabled={themeMode === id}
				>
					{name}
				</button>
			</div>
		{/each}
	</div>
</div>
<hr />
<div data-label="themes">
	<div class="theme-picker">
		<div id="theme">
			{#each presets as preset, idx}
				<button
					class="theme-button"
					on:click={() => selectPreset(preset)}
					disabled={activeThemes.preset === preset}
				>
					<div>
						{#each Object.values(categories) as category}
							<iframe
								src="/theme-preview?t={category[idx]}"
								title=""
							/>
						{/each}
					</div>
					{preset}
				</button>
			{/each}
		</div>
		{#each Object.entries(categories) as [name, themes]}
			<div>
				{#each themes as theme}
					<button
						class="theme-button"
						on:click={() => selectTheme(name, theme)}
						disabled={activeThemes[name] === theme}
					>
						<iframe src="/theme-preview?t={theme}" title="" />
						{theme}
					</button>
				{/each}
			</div>
		{/each}
	</div>
</div>
<hr />
<div>
	<button id="save" on:click={saveSettings}>save settings</button>
</div>
<div>
	<p class="unimportant">
		Note: By confirming and saving the settings you accept the use of
		cookies to store your preferences.
	</p>
</div>

<style>
	:global(.theme-button:disabled, .theme-button:disabled:hover),
	#accent.random > #accent-random,
	.theme-picker button:disabled {
		color: var(--color-active-0);
		background: var(--background-active-0);
		text-decoration: none;
		box-shadow: inset 1px 0 5px #0007;
		cursor: default;
		transition: none;
	}

	#accent {
		display: flex;
		gap: 4px;
		width: 100%;
	}

	#accent-random {
		flex: 0 0 fit-content;
	}

	#accent-input {
		appearance: none;
		width: calc(100% - 20px);

		height: 16px;
		margin: 3px 0 0 0;
		padding: 4px;
		background: transparent;
	}

	#accent-input::-webkit-slider-runnable-track {
		appearance: none;

		height: 16px;
		border-radius: 8px;

		background: linear-gradient(
			90deg,
			hsl(0, 100%, 50%),
			hsl(60, 100%, 50%),
			hsl(120, 100%, 50%),
			hsl(180, 100%, 50%),
			hsl(240, 100%, 50%),
			hsl(300, 100%, 50%),
			hsl(360, 100%, 50%)
		);
		box-shadow: inset 0px 2px 4px #0007;
	}

	#accent-input::-moz-range-track {
		appearance: none;

		height: 16px;
		border-radius: 8px;

		background: linear-gradient(
			90deg,
			hsl(0, 100%, 50%),
			hsl(60, 100%, 50%),
			hsl(120, 100%, 50%),
			hsl(180, 100%, 50%),
			hsl(240, 100%, 50%),
			hsl(300, 100%, 50%),
			hsl(360, 100%, 50%)
		);
		box-shadow: inset 0px 2px 4px #0007;
	}

	#accent-input::-webkit-slider-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border: 1px solid var(--color-active-1);
		outline: 4px solid var(--background-6);
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.5);
		filter: drop-shadow(0px 0px 4px #0007);
	}

	#accent-input::-moz-range-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border: 1px solid var(--color-active-1);
		outline: 4px solid var(--slider-thumb-color);
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.5);
		filter: drop-shadow(0px 0px 4px #0007);
	}

	#accent.random #accent-input::-webkit-slider-thumb {
		opacity: 0.5;
	}
	#accent.random #accent-input::-moz-range-thumb {
		opacity: 0.5;
	}

	.theme-picker {
		display: flex;
		flex-direction: row;
		gap: 4px;
		padding-top: 2px;
		width: 100%;
	}

	.theme-picker > div {
		display: flex;
		flex-direction: column;
		flex: 0 1 208px;
		gap: 4px;
	}

	.theme-picker > div > :global(button) {
		margin: 0;
	}

	:global(.theme-button) {
		height: auto;
		display: block;
	}
	:global(.theme-button iframe, .theme-button div) {
		width: calc(100% + 16px);
		aspect-ratio: 4 / 3;
		margin: 4px -8px 0px -8px;
		border-radius: 3px 3px 0 0;
		pointer-events: none;
		border: none;
		display: block;
		position: relative;
	}
	:global(.theme-button div iframe) {
		position: absolute;
		left: 0px;
		top: 0;
		width: 100%;
		margin: 0;
	}
	:global(.theme-button div iframe:last-child) {
		clip-path: polygon(0% 0%, 70% 0%, 30% 100%, 0% 100%);
	}
</style>
