<script lang="ts">
	import type { IComment, IGame } from "~/types";
	import { alert, json, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import Icon from "@iconify/svelte";

	export let adminOps: AdminOps;
	export let data: IComment;

	let isJSON = false;
	let isEditing = false;
	let hasEdited = false;
	let gameLoaded = false;
	let gameData: IGame;

	async function commit() {
		await post("/api/admin/edit/comment", {
			id: data.id,
			content: data.content,
			devResponse: data.devResponse,
			// deleted: data.deleted,
		});
		hasEdited = false;
		isEditing = false;
		alert.success("Updated comment info");
	}

	function removeDevRespone() {
		data.devResponse = undefined;
		hasEdited = true;
	}

	async function deleteComment() {
		await post("/api/comments/delete", { id: data.id });
		alert.success("Comment deleted");
		data.deleted = true;
	}

	async function loadGameData() {
		gameData = (await json(`/api/games/info?id=${data.game}`)).game;
		if (gameData === undefined)
			gameData = {
				name: "[GAME NOT FOUND!]",
				id: -1,
			} as unknown as IGame;
		gameLoaded = true;
	}

	loadGameData();
</script>

<h4>
	comment <span class="unimportant tnum" style="font-weight: 400">
		{data.id}
	</span>
</h4>

{#if data.deleted}
	<h1>this comment has been deleted.</h1>
{/if}

<div>
	<button on:click={() => (isJSON = !isJSON)}>
		{isJSON ? "hide" : "show"} JSON
	</button>
	<a class="button" href="/game/{data.game}" target="_blank">go to game</a>
	<button on:click={() => (isEditing = !isEditing)}>
		{isEditing ? "stop" : "start"} editing
	</button>
	<button on:click={commit} disabled={!hasEdited || data.isHistorical}>commit edited info</button>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />
	<h6>author</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>game</h6>
	<div>
		{#if gameLoaded}
			{gameData.name}
			<button
				class="icon-button"
				on:click={() => adminOps.addModal("game", gameData)}
				aria-label="open game"
			>
				<Icon icon="mdi:external-link" width="16" inline />
			</button>
		{:else}
			<p>loading...</p>
		{/if}
	</div>
	<br />

	<h6>content</h6>
	<div>
		{#if isEditing}
			<textarea
				bind:value={data.content}
				on:input={() => (hasEdited = true)}
			></textarea>
		{:else}
			<pre>{data.content}</pre>
		{/if}
	</div>

	<h6>dev response</h6>
	{#if isEditing}
		{#if data.devResponse === undefined}
			<i>let's not fake dev responses, ok?</i>
			<br />
		{:else}
			<textarea
				bind:value={data.devResponse}
				on:input={() => (hasEdited = true)}
			></textarea>
			<button on:click={removeDevRespone}> remove response </button>
		{/if}
	{:else if data.devResponse !== undefined}
		<pre>{data.devResponse}</pre>
	{:else}
		<i>no dev response</i>
		<br />
	{/if}

	<h6>votes</h6>
	<div>
		{data.upCount}
		<Icon icon="ic:baseline-arrow-upward" />
		{data.downCount}
		<Icon icon="ic:baseline-arrow-downward" />
	</div>
	<br />
{/if}

<h6>actions</h6>
<div>
	<button on:click={deleteComment}>delete comment</button>
</div>

<style>
	.tnum {
		font-variant-numeric: tabular-nums;
	}

	textarea {
		background: var(--background-1);
		width: 100%;
		height: 150px;
	}
</style>
