<script lang="ts">
	import { alert, convertFormat, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IGame } from "~/types";
	import StaffNote from "../StaffNote.svelte";

	export let adminOps: AdminOps;
	export let data: IGame;

	let isJSON = false;
	let hasEdited = false;
	let isDeleted = false;

	async function commit() {
		await post("/api/admin/edit/game", {
			id: data.id,
			name: data.name,
			link: data.link,
			description: data.description,
			unlisted: data.unlisted,
			tags: data.tags,
			author: data.author,
			verified: data.verified,
		});
		alert.success("Updated game info");
		hasEdited = false;
	}

	function addTag() {
		const newTag = prompt("Enter new tag");
		if (newTag !== null && newTag !== "" && !data.tags.includes(newTag))
			data.tags.push(newTag);
		data.tags = data.tags;
		hasEdited = true;
	}

	function removeTag(tag: string) {
		data.tags = data.tags.filter(t => t !== tag);
		hasEdited = true;
	}

	function renameGame() {
		const newName = prompt("Enter new name", data.name);
		if (newName !== null && newName !== "") data.name = newName;
		hasEdited = true;
	}

	function toggleUnlisted() {
		data.unlisted = !data.unlisted;
		hasEdited = true;
	}

	async function deleteGame() {
		if (data.verified === true) {
			if (
				prompt(
					"Are you SURE you want to delete this VERIFIED game? Type 'delete' to confirm."
				) !== "delete"
			)
				return;
		} else if (
			!confirm("Are you sure you want to delete this unverified game?")
		)
			return;
		await post("/api/admin/nukeGame", { game: data.id });
		isDeleted = true;
	}

	async function wipeThumbnail() {
		await post("/api/admin/wipeThumbnail", { game: data.id });
		alert.success("Thumbnail wiped");
	}
</script>

<h4>
	game <span class="unimportant tnum">{data.id}</span>
</h4>

{#if isDeleted}
	<h1>this game has been deleted.</h1>
{/if}

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
	<a class="button" href="/play/{data.id}" target="_blank">go to page</a>
	<button on:click={commit} disabled={!hasEdited || data.isHistorical}>commit edited info</button>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>name</h6>
	<div>
		{data.name}
		<button on:click={renameGame}>✏️</button>
	</div>
	<br />

	<h6>author</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>thumbnail</h6>
	<div>
		<img
			src={convertFormat("/thumb/small/", data.id, data.thumbTimestamp)}
			alt=""
		/>
		<br />
		<button on:click={wipeThumbnail}>revert to default</button>
	</div>
	<br />

	<h6>tags</h6>
	<div>
		<ul>
			{#each data.tags as tag}
				<li>
					{tag} <button on:click={() => removeTag(tag)}>-</button>
				</li>
			{:else}
				<li><i>no tags</i></li>
			{/each}
		</ul>
		<button on:click={addTag}>add new tag</button>
	</div>
	<br />

	<h6>description</h6>
	<div>
		<textarea
			bind:value={data.description}
			on:input={() => (hasEdited = true)}
		></textarea>
	</div>
	<br />

	<h6>state</h6>
	<div>
		unlisted: <span class="bool-{data.unlisted}">{data.unlisted}</span>
		<button on:click={toggleUnlisted}>✏️</button>
	</div>
	<br />
{/if}

<h6>actions</h6>
<div>
	<button on:click={deleteGame}>delete game</button>
</div>
<br />

<h6>staff notes</h6>
<div>
	<StaffNote id="game-{data.id}" {adminOps} />
</div>

<style>
	textarea {
		background: var(--background-1);
		width: 100%;
	}

	ul {
		padding-left: 10px;
		margin: 0;
	}
</style>
