<script lang="ts">
	import type { CannedResponse, IReport } from "~/types";
	import { alert, post } from "~/libgalaxy";
	import AdminComposer from "../AdminComposer.svelte";
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";

	export let adminOps: AdminOps;
	export let data: IReport;

	let isJSON= false;
	let isDismissed = false;

	// Collapse the object if you get tired of scrolling :3
	const CANNED_RESPONSES: CannedResponse[] = [
		{
			summary: "Wrongful report for swear words",
			title: "Regarding your report",
			body: `Hello! Thanks for taking the time to make a report.

However, certain profane words are acceptable on galaxy, as long as they are not directed in hostility at another user. We've reviewed the use of the word in this scenario, and deem it to be acceptable for the site.

While the use of such words may be shocking, it's important to remember that galaxy is made for a semi-mature audience (13+ years old), and thus profanity should be nothing too new for anyone on the site.`,
		},
	];

	// TODO This is fucked up bruh couldn't I just extend IReport with _id?? I'm too lazy to see if that would break mongoose
	const with_id = {
		report: (data as unknown as { _id: string })._id,
	};

	async function dismiss() {
		await post("/api/report/dismiss", with_id);
		alert.success("Report dismissed");
	}

	async function thankDismiss() {
		await post("/api/report/thank", with_id);
		await post("/api/report/dismiss", with_id);
		alert.success("Thanked + dismissed");
	}
</script>

<h4>report</h4>

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
</div>

{#if isDismissed}
	<h1>this report has been dismissed.</h1>
{/if}

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>reporter</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>where</h6>
	<div>{data.part}</div>
	<br />

	<h6>reason</h6>
	<div>{data.reason}</div>
	<br />
{/if}

<h6>actions</h6>
<div>
	<a class="button" href="/user/{data.author}" target="_blank">
		go to user page
	</a>
	<button on:click={dismiss}>dismiss report</button>
	<button on:click={thankDismiss}>thank + dismiss</button>
</div>

<br />
<AdminComposer
	cannedResponses={CANNED_RESPONSES}
	recipient={adminOps.getUser(data.author)}
/>
