<script lang="ts">
	import type { CannedResponse, IUser } from "~/types";
	import { alert, convertFormat, post } from "~/libgalaxy";
	import AdminComposer from "../AdminComposer.svelte";
	import type { AdminOps } from "~/helper/adminHelper";
	import StaffNote from "../StaffNote.svelte";
	import flairs from "../../../../config/flairs.json";
	import { hasStaffPerm } from "~/helper/adminHelper";

	export let adminOps: AdminOps;
	export let data: IUser;

	let isJSON = false;
	let hasEdited = false;

	async function commit() {
		await post("/api/admin/edit/user", {
			id: data.id,
			name: data.name,
			bio: data.bio,
			flairs: data.flairs,
			equippedFlair: data.equippedFlair,
			modLevel: data.modLevel,
			banned: data.banned,
			muted: data.muted,
		});
		alert.success("Updated user info");
		hasEdited = false;
	}

	async function wipeProfilePicture() {
		await post("/api/admin/wipePfp", { user: data.id });
		alert.success("Profile picture wiped");
	}

	function removeFlair(flair: string) {
		data.flairs = data.flairs.filter(f => f !== flair);
		hasEdited = true;
	}

	function addFlair(flair: string) {
		data.flairs.push(flair);
		data.flairs = data.flairs;
		hasEdited = true;
	}

	function editName() {
		const newName = prompt(`Enter new name for ${data.name}`);
		if (newName !== null && newName !== "") data.name = newName;
		hasEdited = true;
	}

	function toggleMuted() {
		data.muted = !data.muted;
		hasEdited = true;
	}

	function setBanned(state: boolean | string) {
		data.banned = state;
		hasEdited = true;
	}

	async function requestAge() {
		await post("/api/admin/requestAge", { user: data.id });
		alert.success("Age requested");
	}

	const SUPPORT_EMAIL = atob("c3VwcG9ydEBnYWxheHkuY2xpY2s=");

	// Collapse the object if you get tired of scrolling :3
	const CANNED_RESPONSES: CannedResponse[] = [
		{
			summary: "warning",
			title: "A formal warning",
			body: `Hello,

Please do not [...].

Repeated [...] may result in a site mute or ban.`,
		},
		{
			summary: "punishment notice",
			title: "Punishment notice",
			body: `Hello,

Due to [...], you have been [...].

To appeal this, you may contact the site staff at ${SUPPORT_EMAIL}.`,
		},
		{
			summary: "act your age",
			title: "A formal warning",
			body: `Hello,

You have indicated to us previously that you are over 13 years old. However, your behavior on the site has given us reason to disagree with that claim.

Please act your age and be more mature, or further action may be taken.`,
		},
	];
</script>

<h4>
	user <span class="unimportant tnum" style="font-weight: 400">{data.id}</span
	>
</h4>

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
	<a class="button" href="/user/{data.id}" target="_blank">go to page</a>
	{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
		<button on:click={commit} disabled={!hasEdited || data.isHistorical}
			>commit edited info</button
		>
	{/if}
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>name</h6>
	<div>
		{data.name}
		{#if hasStaffPerm(adminOps.self.modLevel, "admin")}
			<button on:click={editName}>✏️</button>
		{/if}
	</div>
	<br />

	<h6>profile picture</h6>
	<div>
		<img
			src={convertFormat("/pfp/medium/", data.id, data.pfpTimestamp)}
			alt=""
		/>
		<br />
		{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
			<button on:click={wipeProfilePicture}>revert to default</button>
		{/if}
	</div>
	<br />

	<h6>state</h6>
	<div>
		muted: <span class="bool-{data.muted}">{data.muted}</span>
		{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
			<button on:click={toggleMuted}>✏️</button>
		{/if}
		<br />
		banned: <span class="bool-{data.banned}">{data.banned}</span>
		{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
			<button on:click={() => setBanned(false)}>unban</button>
			<button on:click={() => setBanned(true)}>ban (no reason)</button>
			<button on:click={() => setBanned(prompt("Input reason:"))}>
				ban (w/ reason)
			</button>
		{/if}
	</div>
	<br />

	<h6>bio</h6>
	<div>
		<textarea
			placeholder="no bio"
			bind:value={data.bio}
			on:input={() => (hasEdited = true)}
		/>
	</div>
	<br />

	<h6>flairs</h6>
	<div>
		<ul>
			{#each data.flairs as flair}
				<li>
					<span class="flair" data-flair={flair}>{flair}</span>
					{#if flair !== "none"}
						<button on:click={() => removeFlair(flair)}>-</button>
					{/if}
					{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
						<button
							disabled={data.equippedFlair === flair}
							on:click={() => {
								data.equippedFlair = flair;
								hasEdited = true;
							}}
						>
							equip
						</button>
					{/if}
				</li>
			{:else}
				<li><i>no flairs</i></li>
			{/each}
		</ul>
		{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
			<details>
				<summary>add new flair</summary>
				{#each Object.keys(flairs) as flair}
					{#if !data.flairs.includes(flair)}
						<button
							class="flair"
							data-flair={flair}
							on:click={() => addFlair(flair)}>{flair}</button
						>
					{/if}
				{/each}
			</details>
		{/if}
	</div>
	<br />

	{#if hasStaffPerm(adminOps.self.modLevel, "owner")}
		<h6>mod level</h6>
		<div>
			<input
				type="number"
				bind:value={data.modLevel}
				on:input={() => (hasEdited = true)}
			/>
		</div>
		<br />
	{/if}
{/if}

{#if hasStaffPerm(adminOps.self.modLevel, "mod")}
	<h6>actions</h6>
	<div>
		<button on:click={() => adminOps.setTab("comment-feed", data.id)}>
			view comments
		</button>
		<button on:click={() => adminOps.setTab("thread-feed", data.id)}>
			view threads
		</button>
		<button on:click={() => adminOps.setTab("post-feed", data.id, false)}>
			view posts
		</button>
		{#if data.parentState === undefined}
			<button on:click={requestAge}>request age</button>
		{/if}
	</div>
	<br />
{/if}

<h6>staff notes</h6>
<div>
	<StaffNote id="user-{data.id}" {adminOps} />
</div>
<br />

<AdminComposer
	cannedResponses={CANNED_RESPONSES}
	recipient={adminOps.getUser(data.id)}
	templates={{}}
/>

<style>
	.tnum {
		font-variant-numeric: tabular-nums;
	}

	textarea {
		background: var(--background-1);
		width: 100%;
		height: 150px;
	}

	ul {
		margin: 0;
		padding-left: 10px;
	}
</style>
