<script lang="ts">
	import { alert, json, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import Icon from "@iconify/svelte";
	import { onMount } from "svelte";

	onMount(() => {
		queryInput.focus();
	});

	export let adminOps: AdminOps;

	let query = "";
	let queryInput: HTMLInputElement;

	function setText(text: string) {
		return () => {
			query = text;
			queryInput.focus();
		};
	}

	async function execQuery() {
		const [type, ...rest] = query.split(":");
		const input = rest.join(":");

		switch (type) {
			case "g": {
				const { game } = await json(`/api/games/info?id=${input}`);
				if (game === undefined) return alert.error("Game not found");
				adminOps.addModal(type === "g" ? "game" : "verification", game);
				break;
			}
			case "u":
			case "un": {
				const { user } = await post(
					`/api/admin/query/userFull`,
					type === "u" ? parseInt(input) : input
				);
				if (user === undefined) return alert.error("User not found");
				adminOps.addModal("user", user);
				break;
			}
		}
	}

	function handleQueryKeypress(e: KeyboardEvent) {
		if (e.key === "Enter") execQuery();
	}
</script>

<div id="query-flex">
	<p>enter a unique id and press enter to query.</p>
	<div id="input-flex">
		<input
			bind:this={queryInput}
			bind:value={query}
			on:keypress={handleQueryKeypress}
			type="text"
			id="admin-query"
		/>
		<button on:click={execQuery}>
			<Icon icon="ic:baseline-search" />
		</button>
	</div>
	<div>
		<button on:click={setText("g:")}>game</button>
		<!-- <button on:click={setText("v:")}>verification</button> -->
		<button on:click={setText("u:")}>user</button>
		<button on:click={setText("un:")}>username</button>
	</div>
	<p>
		examples:<br />
		<code>g:12</code> -&gt; game id 12<br />
		<!-- <code>v:12</code> -&gt; verification of game 12<br /> -->
		<code>u:1</code> -&gt; user id 1<br />
		<code>un:Yhvr</code> -&gt; user Yhvr <br />
	</p>
</div>

<style>
	#admin-query {
		background: var(--background-2);
		font-size: 50px;
		width: 90%;
		height: auto;
		font-family: var(--header-font);
	}

	#query-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	#input-flex {
		display: flex;
	}

	#input-flex button {
		font-size: 50px;
		height: unset;
	}

	p {
		margin: 0;
	}
</style>
