<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IForumThread } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IForumThread[] = [];
	let latestRequest = 0;
	let page = 1;
	let pageCount = 1;
	let isReady = false;
	let byUser: false | number = false;

	async function loadData() {
		// See CommentFeed.svelte for explanation
		const thisRequest = Date.now();
		latestRequest = thisRequest;

		const res = await post("/api/admin/query/threadFeed", {
			page,
			...(byUser === false ? {} : { user: byUser }),
		});

		if (thisRequest !== latestRequest) return;

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	export function setUser(id?: number | false) {
		if (id === undefined) {
			const input = parseInt(prompt("Enter user id (esc to cancel)"));
			if (isNaN(input)) byUser = false;
			else byUser = input;
		} else byUser = id;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<div>
		<strong>threads</strong>
		<button on:click={() => setUser()}>
			by user id
			{#if byUser !== false}
				<strong>{byUser}</strong>
			{/if}
		</button>
	</div>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				id: x.id,
				author: adminOps.getUser(x.author),
				title: (() => {
					let str = String(x.name);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
			}))}
			schema={{
				id: { name: "id", type: "tnum" },
				author: { name: "author", type: "user" },
				title: { name: "title" },
			}}
			onitemclick={x =>
				adminOps.addModal(
					"thread",
					data.find(y => y.id == x.id)
				)}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
