---
import { getTagCategories, getTagData } from "~/helper/tags";
import Form from "~/components/Form.astro";
import Layout from "~/layouts/Layout.astro";
import UserSettings from "~/components/UserSettings/UserSettings.svelte";
import { astroUnder13 } from "~/helper/coppa";
import { getFilters } from "~/helper/filters";

const { user, loggedIn, needsVerification } = Astro.locals.auth;

let frontendUser = {};
if (loggedIn) frontendUser = user.toObject();

const isUnderage = astroUnder13(Astro);

const { neg, pos } = getFilters(Astro.cookies.get("filters")?.value);
---

<Layout
	title="preferences - galaxy"
	user={{ user, loggedIn, needsVerification }}
>
	<main id="main" class="nomargin">
		<UserSettings
			loggedIn={loggedIn}
			user={frontendUser}
			{isUnderage}
			categories={getTagCategories()}
			tagData={getTagData()}
			negTags={neg}
			posTags={pos}
			client:load
		/>
	</main>

	<Form cssOnly />
</Layout>
