<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import TagSelectWidget from "../TagSelectWidget.svelte";

	export let id: number;
	export let tags: string[];
	export let categories: { [category: string]: string[] };
	export let tagData: { [tag: string]: string };

	async function updateTags() {
		const res = await post("/api/games/tags", {
			id,
			tags: tagWidget.getTags()[0],
		});

		if (res._resCode === 200) alert.success(res.message);
	}

	let tagWidget: TagSelectWidget;
</script>

<h2>tags</h2>
<p>
	Help potential players find your games by giving them relevant tags to the
	game. It is recommended you get most of your tags from the pre-defined list
	below, but if they do not fit your needs you can add custom tags. If you're
	uncertain about what a tag means, you can hover over it to see its meaning.
</p>
<br />
<TagSelectWidget
	{categories}
	{tagData}
	descriptor="Your game"
	modes={[["included tags", "green"]]}
	initialSelectedTags={[tags]}
	bind:this={tagWidget}
/>
<br />
<div>
	<button id="save" on:click={updateTags}>save</button>
</div>