:root {
	--background-0: #ddd;
	--background-1: #d4d4d4;
	--background-2: #d8d8d8;
	--background-3: #eee;
	--background-4: #e4e4e4;
	--background-5: #e8e8e8;
	--background-6: #fff;

	--background-active-0: hsl(var(--accent-hue), 40%, 50%);
	--background-active-1: hsl(var(--accent-hue), 40%, 60%);
	--background-active-2: hsl(var(--accent-hue), 40%, 66%);
	--background-active-3: hsl(var(--accent-hue), 40%, 72%);
	--background-active-4: hsl(var(--accent-hue), 40%, 78%);
	--background-active-5: hsl(var(--accent-hue), 40%, 84%);
	--background-active-6: hsl(var(--accent-hue), 40%, 90%);

	--color-0: #000;
	--color-1: #222;
	--color-2: #444;
	--color-3: #666;
	--color-4: #888;

	--color-active-0: hsl(var(--accent-hue), 100%, 10%);
	--color-active-1: hsl(var(--accent-hue), 85%, 20%);
	--color-active-2: hsl(var(--accent-hue), 70%, 30%);
	--color-active-3: hsl(var(--accent-hue), 55%, 40%);
	--color-active-4: hsl(var(--accent-hue), 40%, 50%);

	--background-red-0: #ebb;
	--background-red-1: #e99;

	--background-blue-0: #bbe;
	--background-blue-1: #99e;

	--background-green-0: #beb;
	--background-green-1: #9e9;

	--color-red-1: #500;
	--color-orange-1: #530;
	--color-yellow-1: #440;
	--color-green-1: #050;
	--color-teal-1: #044;
	--color-blue-1: #005;
	--color-purple-1: #505;

	--flair-tester-bg: #ccfa;
	--flair-tester-fg: #112;

	--flair-gamedev-bg: #fdca;
	--flair-gamedev-fg: #221811;

	--flair-vip-bg: #ffca;
	--flair-vip-fg: #221;

	--flair-contributor-bg: #cfca;
	--flair-contributor-fg: #121;

	--flair-donator-bg: #ffaa;
	--flair-donator-fg: #551;

	--flair-mod-bg: #afaa;
	--flair-mod-fg: #151;

	--flair-admin-bg: #aafa;
	--flair-admin-fg: #115;

	--flair-owner-bg: #faaa;
	--flair-owner-fg: #511;

	--flair-suggester-bg: #115;
	--flair-suggester-fg: #aafc;

	--flair-counter-bg: #fafa;
	--flair-counter-fg: #515;

	--flair-countest-bg: #fcfa;
	--flair-countest-fg: #535;

	--flair-verifier-bg: #73fa;
	--flair-verifier-fg: #115;

	--slider-thumb-color: var(--background-6);

	/* Unovis */
	--vis-axis-grid-color: var(--color-3) !important;
}
