<script lang="ts">
	import ChatModi from "./modi/ChatModi.svelte";
	import CloudSaveModi from "./modi/CloudSaveModi.svelte";
	import type { IGame } from "~/types";
	import Icon from "@iconify/svelte";
	import TweaksModi from "./modi/TweaksModi.svelte";
	import { chat_generalPopupShown } from "./modi/modiStore";

	export let game: IGame;
	export let userId: number;
	export let loggedIn: boolean;
	export let isStaff: boolean = false;
	export let isUnderage: boolean;
	export let height: string;
	export let close: () => void;
	export let unexpand: () => void;

	let mode = isUnderage ? "tweaks" : "chat";

	export function changeMode(newMode: string) {
		mode = newMode;
	}

	if (!game.chatEnabled) chat_generalPopupShown.set(true);
</script>

<div
	class="sidebar-grid"
	class:full={mode === "selector"}
	style="height: {height}"
>
	<div class="sidebar-tabs">
		{#if mode === "selector"}
			<div style="text-align: left; width: 100%">
				<button
					on:click={close}
					title="close sidebar"
					class="toolbar-button back"
				>
					<Icon
						icon="material-symbols:right-panel-close-outline"
						width="18"
						inline
					/>
				</button><span class="unimportant"
					>where would you like to go?</span
				>
			</div>
		{:else}
			<button
				on:click={() => changeMode("selector")}
				title="back"
				class="toolbar-button back"
			>
				<Icon icon="material-symbols:arrow-back" width="18" inline />
			</button>
		{/if}
		<hr />
		{#if !isUnderage}
			<button
				on:click={() => changeMode("chat")}
				title="chat"
				disabled={mode == "chat"}
				class="toolbar-button"
			>
				<Icon icon="material-symbols:chat-outline" width="18" inline />
			</button>
		{/if}
		<button
			on:click={() => changeMode("saves")}
			title="cloud saves"
			disabled={mode == "saves"}
			class="toolbar-button"
		>
			<Icon icon="material-symbols:smb-share-outline" width="18" inline />
		</button>
		<button
			on:click={() => changeMode("tweaks")}
			title="game tweaks"
			disabled={mode == "tweaks"}
			class="toolbar-button"
		>
			<Icon icon="material-symbols:tune" width="18" inline />
		</button>
	</div>
	{#if mode !== "selector"}
		<div class="sidebar-body">
			{#if mode === "chat" && !isUnderage}
				<ChatModi {game} {userId} {isStaff} />
			{:else if mode === "saves"}
				<CloudSaveModi {game} {loggedIn} {unexpand} />
			{:else if mode === "tweaks"}
				<TweaksModi />
			{/if}
		</div>
	{/if}
</div>

<style>
	.sidebar-grid {
		display: grid;
		grid-template-columns: 32px 1fr;
		gap: 0px;
	}
	.sidebar-grid.full {
		grid-template-columns: 1fr 0px;
	}

	.sidebar-tabs {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--background-2);
	}

	.sidebar-tabs button {
		width: 100%;
		height: 32px;
		margin: 0;
		padding: 0;
	}

	.sidebar-tabs button.back {
		height: 30px;
	}

	.full .sidebar-tabs button:not(.back) {
		padding-right: calc(100% - 40px);
		position: relative;
	}

	.full .sidebar-tabs button:not(.back):after {
		position: absolute;
		left: 40px;
		top: 2px;
		bottom: 0px;
		content: attr(title);
	}

	.full .sidebar-tabs button.back {
		width: 40px;
		transition: margin-right 0.3s;
	}

	.full .sidebar-tabs button.back:hover {
		margin-right: 8px;
	}

	.sidebar-tabs button:disabled {
		cursor: inherit;
		color: var(--color-0);
		border-left: 2px solid var(--color-0);
		background: var(--background-0);
	}

	.sidebar-tabs hr {
		width: 100%;
		height: 2px;
		margin: 0;
		border: none;
		background: var(--background-5);
	}

	.sidebar-body {
		position: relative;
		overflow: auto;
	}
</style>
