<script lang="ts">
	import type { IForumThread, INamedFrontendComment, IUser } from "~/types";
	import GameComments from "./GameComments.svelte";
	import ThreadCard from "./forum/ThreadCard.svelte";
	// import ThreadCard from "./forum/ThreadCard.svelte";

	export let gameId: number;
	export let userId: number;
	export let isDev: boolean;
	export let isLoggedIn: boolean;
	export let isStaff: boolean;
	export let comments: [INamedFrontendComment[], INamedFrontendComment[]];
	export let threads: IForumThread[];
	export let users: { [id: number]: IUser };

	let tab = "comments";

	function set(t: string) {
		return () => (tab = t);
	}
</script>

<div>
	<div id="discussion-options">
		<button class:active={tab === "comments"} on:click={set("comments")}>
			comments
		</button>
		<button class:active={tab === "forums"} on:click={set("forums")}>
			forum threads
		</button>
	</div>
	{#if tab === "comments"}
		<GameComments
			{gameId}
			{userId}
			{isDev}
			{isLoggedIn}
			{isStaff}
			newComments={comments[0]}
			topComments={comments[1]}
		/>
	{:else if tab === "forums"}
		<div class="container" style="background: var(--background-1)">
			{#each threads as thread}
				<ThreadCard {thread} user={users[thread.author]} />
			{:else}
				<p>we weren't able to find any threads about this game.</p>
				<p>
					if this game has been verified, reload and a thread should
					be automagically created!
				</p>
			{/each}
		</div>
	{/if}
</div>

<style>
	#discussion-options {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		margin-top: 10px;
		gap: 2px;
	}

	#discussion-options button {
		margin: 0;
	}

	.active {
		color: var(--color-active-0);
		background: var(--background-active-5);
	}
</style>
