<script lang="ts">
	import MarkdownEditor from "./MarkdownEditor.svelte"
	import {gameDescription} from "~/helper/markdown"
</script>

<div class="game-description-post-field">
	<MarkdownEditor
		style="width: 100%"
		options={gameDescription}
		maxlength={8192}
		name="description"
		placeholder="(required, supports markdown)"
		required />
</div>

<style>
	.game-description-post-field {
		margin-top: 1px;
		width: min(600px, 80%);
	}

	@media screen and (max-width: 720px) {
		.game-description-post-field {
			width: 100%;
		}
	}
</style>