<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import {
		loadTweaks,
		tweaks_autoExpand,
		tweaks_brightness,
		tweaks_contrast,
		tweaks_dontLoad,
		tweaks_hideHeader,
		tweaks_hueRotate,
		tweaks_preventThrottling,
		tweaks_saturate,
		tweaks_sepia,
		tweaks_unloadOnOriginal,
		tweaks_zoom,
	} from "./modi/modiStore";
	import { onDestroy, onMount } from "svelte";
	import GameSidebar from "./GameSidebar.svelte";
	import type { IGame } from "~/types";

	export let game: IGame;
	export let userId: number | null;
	export let isStaff: boolean = false;
	export let isUnderage: boolean = false;

	loadTweaks(game.id);

	const loggedIn = userId != null;

	let sidebar;

	let expanded = false;
	$: height = expanded
		? $tweaks_hideHeader
			? "calc(100dvh - 28px)"
			: "calc(100dvh - 76px)"
		: "75vh";
	let gameLoaded = !$tweaks_dontLoad;
	let unloadReason = 0;
	let sidebarOpen = false;
	let sidebarEverOpen = false;
	// let width = "100%";
	let frame: HTMLIFrameElement;
	let lastInteraction = Date.now();
	//                   ms   * sc * mn * hrs
	const TWELVE_HOURS = 1000 * 60 * 60 * 12;

	let antiThrottler: HTMLAudioElement | undefined;

	function updateActivity() {
		lastInteraction = Date.now();

		if (antiThrottler) {
			antiThrottler.play();
			antiThrottler.volume = 0.01;
		}
	}

	function expand() {
		if (expanded) {
			expanded = false;
			document.body.style.overflow = "auto";
		} else {
			expanded = true;
			window.scrollTo(0, 0);
			document.body.style.overflow = "hidden";
		}
		headerCheck();
	}

	function unexpand() {
		if (expanded) expand();
	}

	function headerCheck() {
		document.getElementById("top").style.display =
			expanded && $tweaks_hideHeader && gameLoaded ? "none" : "block";
	}

	// Use function instead of setting the variable so other things
	// that happen in the expand function are guaranteed to happen
	if ($tweaks_autoExpand && gameLoaded && !expanded) expand();
	tweaks_hideHeader.subscribe(headerCheck);

	function fullscreen() {
		document.getElementById("game-container").requestFullscreen();
	}

	function originalOpened(e: MouseEvent) {
		if (!e.shiftKey && $tweaks_unloadOnOriginal) {
			gameLoaded = false;
			unloadReason = 1;
			if (expanded) expand();
		}
	}

	function toggleSidebar() {
		sidebarOpen = !sidebarOpen;
		if (sidebarOpen === true) sidebarEverOpen = true;
	}

	function gotoCloudSaves() {
		sidebarEverOpen = true;
		sidebarOpen = true;
		setTimeout(() => {
			sidebar.changeMode("saves");
		}, 0);
	}

	let interval: number;

	onMount(() => {
		document.getElementById("game-filler").remove();

		frame.addEventListener("load", () => {
			sendInfo();
			window.addEventListener("message", messageUp);
			frame.focus();
		});

		frame.addEventListener("keydown", e => {
			if (e.key.includes("Arrow")) e.preventDefault();
		});

		// Events that make you count as "active"
		[
			"mousemove",
			"click",
			"scroll",
			"keypress",
			"touchstart",
			"resize",
		].forEach(e => document.addEventListener(e, updateActivity));

		document.addEventListener("scroll", e => {
			if (height === "75vh") return;
			e.preventDefault();
			window.scrollTo(0, 0);
		});

		if (loggedIn) {
			const holder = document.querySelector("#progress");

			const levelHolder =
				holder.querySelector<HTMLSpanElement>(".level > span");
			const xpHolder =
				holder.querySelector<HTMLSpanElement>(".xp > span");
			const barHolder = holder.querySelector<HTMLDivElement>(".bar");

			const currentHolder =
				holder.querySelector<HTMLSpanElement>(".current") ??
				document.createElement("span");
			currentHolder.classList.add("current");
			holder.append(currentHolder);

			const timerHolder =
				holder.querySelector<HTMLSpanElement>(".timer") ??
				document.createElement("span");
			timerHolder.classList.add("timer");
			currentHolder.append(timerHolder);

			const diffHolder =
				holder.querySelector<HTMLSpanElement>(".diff") ??
				document.createElement("span");
			diffHolder.classList.add("diff");
			currentHolder.append(diffHolder);

			let diff = 0;
			let timer = 60;

			let busy = false;

			interval = setInterval(() => {
				// Skip interaction if window is relatively inactive
				if (Date.now() - TWELVE_HOURS > lastInteraction) {
					timerHolder.innerHTML = "<h3>inactive, not gaining xp</h3>";
					return;
				}
				timer--;
				if (timer <= 0) {
					busy = true;
					timerHolder.innerHTML = "<h3>updating...</h3>";
					timer = 60;

					post(
						"/api/games/playtime/heartbeat",
						{ game: game.id },
						{ errorOnFailure: false }
					)
						.then(xp => {
							if (xp.level !== undefined) {
								levelHolder.innerText =
									xp.level.toLocaleString("en-US");
								xpHolder.innerText = `${xp.xp.toLocaleString(
									"en-US"
								)} / ${xp.next.toLocaleString("en-US")}`;
								barHolder.style.setProperty(
									"--diff",
									`${(xp.xp / xp.next) * 100}%`
								);
								barHolder.style.setProperty(
									"--progress",
									`${((xp.xp - diff) / xp.next) * 100}%`
								);

								diff++;
							}
							busy = false;
							timerHolder.innerHTML = `<h3>next xp in</h3> ${timer.toLocaleString(
								"en-US"
							)} <span class="screenreader">seconds</span>`;
							diffHolder.innerHTML = `+${diff.toLocaleString(
								"en-US"
							)} <h3>this session</h3>`;
						})
						.catch(_ => {
							busy = false;
							timerHolder.innerHTML = `<h3>next xp in</h3> ${timer.toLocaleString(
								"en-US"
							)}`;
						});
				}

				if (!busy)
					timerHolder.innerHTML = `<h3>next xp in</h3> ${timer.toLocaleString(
						"en-US"
					)}`;
			}, 1000) as unknown as number;
		}

		console.log(
			"%cgalaxy",
			"font-size: 30px;background:#414;color:#eee;padding:20px"
		);
		console.log(
			"%cHEY! %cAre you looking to %ccheat?",
			"color:red",
			"",
			"font-weight:bold"
		);
		console.log(
			"No shame to that. If the game isn't fun, feel free to make it fun!"
		);
		console.log("Unless it's a multiplayer game. In that case, DON'T! D:<");
		console.log(
			"Anyways, if you want some help, try Googling " +
				"'<your browser> iframe change javascript scope'. " +
				"It should give you some clues on how to get to the console for the game."
		);
	});

	onDestroy(() => {
		clearInterval(interval);
		window.removeEventListener("message", messageUp);
	});

	// eslint-disable-next-line
	function say(o: any, echo: unknown) {
		// Echo property is `o` is an object
		if (typeof o === "object" && echo !== null) o = { echo, ...o };
		frame.contentWindow.postMessage(o, game.link);
	}

	async function messageUp(e: MessageEvent) {
		if (e.origin !== new URL(frame.src).origin) {
			console.warn(
				`We received a message from a suspicious URL, so it was ignored.
URL: ${e.origin}
Data: ${JSON.stringify(e.data)}`
			);
			return;
		}
		const msg = e.data;
		if (typeof msg !== "object")
			return alert.error(
				`We received an invalid message from the game. ${JSON.stringify(msg)}`
			);

		const { echo } = msg;
		switch (msg.action) {
			case "save": {
				let { slot, data, label } = msg;
				slot ??= 0;

				if (!loggedIn) return say({ ...NO_ACCOUNT_SAVE, slot }, echo);

				if (new TextEncoder().encode(data).length > 256000)
					return say({ ...TOO_BIG, slot }, echo);

				// TODO: validate/handle too-long label

				if (!Number.isInteger(slot) || slot < 0 || slot > 10)
					return say({ ...INVALID_SLOT_SAVE, slot }, echo);

				await post("/api/gapi/saves/set", {
					slot,
					data,
					label,
					game: game.id,
				});
				// TODO handle server error
				return say({ type: "saved", error: false, slot }, echo);
			}
			case "load": {
				let { slot } = msg;
				slot ??= 0;

				if (!loggedIn) return say({ ...NO_ACCOUNT_LOAD, slot }, echo);

				if (!Number.isInteger(slot) || slot < 0 || slot > 10)
					return say({ ...INVALID_SLOT_LOAD, slot }, echo);

				const res = await post("/api/gapi/saves/get", {
					game: game.id,
					slot,
				});

				if (res.data == null) return say({ ...EMPTY_SLOT, slot }, echo);

				return say(
					{
						type: "save_content",
						error: false,
						slot,
						content: res.data,
						label: res.label,
					},
					echo
				);
			}
			case "save_list": {
				if (!loggedIn) return say(NO_ACCOUNT_LIST, echo);

				const { saves } = await post("/api/gapi/saves/list", {
					game: game.id,
				});
				console.log(saves);

				if (saves === undefined) return say(SERVER_ERROR_LIST, echo);

				const list = {};
				saves.forEach(save => {
					list[save.slot] = {
						content: save.data,
						label: save.label,
					};
				});

				return say({ type: "save_list", error: false, list }, echo);
			}
			case "delete": {
				let { slot } = msg;
				slot ??= 0;

				if (!loggedIn) return say({ ...NO_ACCOUNT_DELETE, slot }, echo);

				if (!Number.isInteger(slot) || slot < 0 || slot > 10)
					return say({ ...INVALID_SLOT_DELETE, slot }, echo);

				await post("/api/gapi/saves/delete", {
					game: game.id,
					slot,
				});

				return say({ type: "deleted", error: false, slot }, echo);
			}
			case "info": {
				return sendInfo(echo);
			}
		}
	}

	function sendInfo(echo = undefined) {
		// I'LL PARSE THE COOKIES MYSELF, DAMNIT!
		const themeCookie = document.cookie
			.split(";")
			.map(c => c.trim())
			.find(c => c.startsWith("theme="));
		let theme = "none";
		if (themeCookie === "theme=light") theme = "light";
		else if (themeCookie === "theme=dark") theme = "dark";

		say(
			{
				type: "info",
				galaxy: true,
				api_version: 1,
				theme_preference: theme,
				logged_in: loggedIn,
				...(echo !== undefined ? { echo } : {}),
			},
			null
		);
	}

	const SAVE_ERROR = { type: "saved", error: true };
	const DELETE_ERROR = { type: "deleted", error: true };
	const TOO_BIG = { ...SAVE_ERROR, message: "too_big" };
	const NO_ACCOUNT_SAVE = { ...SAVE_ERROR, message: "no_account" };
	const INVALID_SLOT_SAVE = { ...SAVE_ERROR, message: "invalid_slot" };
	const NO_ACCOUNT_DELETE = { ...DELETE_ERROR, message: "no_account" };
	const INVALID_SLOT_DELETE = { ...DELETE_ERROR, message: "invalid_slot" };
	// const SERVER_ERROR = { ...SAVE_ERROR, message: "server_error" };

	const LOAD_ERROR = {
		type: "save_content",
		error: true,
		content: null,
		label: null,
	};
	const NO_ACCOUNT_LOAD = { ...LOAD_ERROR, message: "no_account" };
	const EMPTY_SLOT = { ...LOAD_ERROR, message: "empty_slot" };
	const INVALID_SLOT_LOAD = { ...LOAD_ERROR, message: "invalid_slot" };

	const LIST_ERROR = {
		type: "save_list",
		error: true,
		list: {},
	};
	const NO_ACCOUNT_LIST = { ...LIST_ERROR, message: "no_account" };
	const SERVER_ERROR_LIST = { ...LIST_ERROR, message: "server_error" };
</script>

{#if gameLoaded}
	<div id="game-view">
		<div id="game-container" style={`height: ${height};`}>
			<!-- svelte-ignore a11y-missing-attribute -->
			<iframe
				src={game.link}
				width="1"
				height="1"
				frameborder="0"
				id="game"
				style="
				height: {(1 / $tweaks_zoom) * 100}%;
				min-width: {(1 / $tweaks_zoom) * 100}%;
				scale: {$tweaks_zoom};
				--invert: {Math.min(Math.max(-$tweaks_contrast / 2 + 50, 0), 100)}%;
				--hue-rotate: {$tweaks_hueRotate}deg;
				--brightness: {$tweaks_brightness};
				--contrast: {Math.max(Math.abs($tweaks_contrast), 100)}%;
				--saturate: {$tweaks_saturate}%;
				--sepia: {$tweaks_sepia}%;
			"
				class:game-filtered={$tweaks_sepia !== 0 ||
					$tweaks_saturate !== 100 ||
					$tweaks_brightness !== 1 ||
					$tweaks_contrast !== 1 ||
					$tweaks_hueRotate !== 0}
				allowfullscreen
				allow="clipboard-read; clipboard-write; autoplay; execution-while-not-rendered; execution-while-out-of-viewport; gamepad"
				sandbox="allow-modals allow-pointer-lock allow-scripts allow-downloads allow-orientation-lock allow-popups allow-same-origin allow-forms"
				bind:this={frame}
			/>
		</div>
		{#if sidebarEverOpen}
			<div class="sidebar-holder" class:hidden={!sidebarOpen}>
				<GameSidebar
					bind:this={sidebar}
					close={toggleSidebar}
					{userId}
					{isStaff}
					{isUnderage}
					{game}
					{loggedIn}
					{height}
					{unexpand}
				/>
			</div>
		{/if}
	</div>
	<div id="grid-buttons" class:expanded>
		<!-- TODO This button still allows [Tab] navigation, so it's hidden from screen readers for now -->
		<button on:click={expand} aria-hidden="true"
			>{expanded ? "shrink" : "expand"}</button
		>
		<button
			on:click={fullscreen}
			id="fullscreen"
			aria-label="make game fullscreen">fullscreen</button
		>
		<a
			class="button"
			href={game.link}
			target="_blank"
			rel="noreferrer"
			id="newtab"
			aria-label="open original game"
			on:click={originalOpened}
		>
			open original
		</a>
		<button
			on:click={gotoCloudSaves}
			id="cloudsaves"
			aria-label="toggle cloud save menu">cloud saves</button
		>
		<button on:click={toggleSidebar}>
			{sidebarOpen ? "close" : "open"} sidebar
		</button>
	</div>
	{#if $tweaks_preventThrottling}
		<audio
			id="anti-throttler"
			bind:this={antiThrottler}
			src="/assets/anti-throttler.mp3"
			autoplay
			loop
		></audio>
	{/if}
{:else}
	<div class="no-game">
		{#if unloadReason === 1}
			<h2>game is unloaded</h2>
			<p>
				The game is unloaded because you pressed "open original".
				<br />
				If you have two tabs open to the same game, they may try to save
				over each other, causing loss of progress.
				<br />
				TIP: Press <kbd>Shift</kbd> when you click "open original" to keep
				the copy on galaxy loaded.
			</p>
		{/if}
		<button on:click={() => (gameLoaded = true)}>play game</button>
		{#if unloadReason === 0}
			<a
				class="button"
				href={game.link}
				target="_blank"
				rel="noreferrer"
				aria-label="open original game"
			>
				open original
			</a>
		{/if}
	</div>
{/if}

<style>
	#game-view {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	#game-container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	#game {
		/* TODO make this configurable? */
		background: white;

		/* --brightness: 1;
		--contrast: 1;
		--grayscale: 0;
		--hue-rotate: 0deg;
		--invert: 0;
		--saturate: 100%;
		--sepia: 0%; */
	}

	.game-filtered {
		filter: brightness(var(--brightness)) hue-rotate(var(--hue-rotate))
			invert(var(--invert)) contrast(var(--contrast))
			saturate(var(--saturate)) sepia(var(--sepia));
	}

	.no-game {
		margin: 15px 0;
		text-align: center;
	}

	.sidebar-holder {
		flex: 0 0 344px;
	}

	#grid-buttons {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		width: 100%;
	}

	#grid-buttons > * {
		border-radius: 0;
		border: 0;
		box-shadow: none;
		text-decoration: none;
		text-align: center;
	}

	.hidden {
		display: none !important;
	}

	@media screen and (max-width: 720px) {
		#grid-buttons {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		#newtab {
			grid-area: 2 / 1 / 2 / span 2;
		}

		.expanded #fullscreen,
		.expanded #newtab,
		.expanded #cloudsaves {
			display: none;
		}

		#game-view {
			display: block;
		}

		#game-container {
			width: 100vw !important;
		}

		.sidebar-holder {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 344px;
			background: var(--background-0);
		}
	}
</style>
