<script lang="ts">
	import { onDestroy, onMount } from "svelte";
	import StatGridEntry from "./StatGridEntry.svelte";
	import { json } from "~/libgalaxy";

	let stats: Record<string, number>;
	// eslint-disable-next-line @typescript-eslint/no-unused-vars
	let estimated = false;
	let counter = 0;

	let currentPlayMinutes = 0;
	let playMinutesSpeed = 0;
	let isBusy = true;

	let isUserSeconds = false;

	async function update() {
		isBusy = true;
		stats = await json("/api/stats");
		if (!currentPlayMinutes) currentPlayMinutes = stats.minutes;
		playMinutesSpeed =
			(stats.minutes + stats.activeUsers / 3 - currentPlayMinutes) /
			20000;
		playMinutesSpeed = Math.max(playMinutesSpeed, 0);
		estimated = false;
		counter = 0;
		isBusy = false;
	}

	function toggleUserSeconds() {
		isUserSeconds = !isUserSeconds;
	}

	let time = Date.now();

	let interval = null;

	onMount(async () => {
		await update();
		interval = setInterval(() => {
			const delta = Date.now() - time;
			time += delta;
			if (stats === undefined) return;

			// estimate total playtime
			currentPlayMinutes += playMinutesSpeed * delta;
			estimated = true;

			// svelte reactivity!!
			stats = stats;

			// fetch actual play time every 20 seconds
			counter += delta;
			if (counter >= 20000 && !isBusy) update();
		}, 30);
	});

	onDestroy(() => {
		clearInterval(interval);
	});
</script>

{#if stats}
	<div id="center-stats">
		<h1>this is galaxy.</h1>
		<div on:pointerdown={toggleUserSeconds}>
			<StatGridEntry
				icon="material-symbols:timer"
				stat={isUserSeconds ? currentPlayMinutes * 60 : currentPlayMinutes / 60}
				desc={isUserSeconds ? "user-seconds" : "play-hours"}
			/>
		</div>
		<div id="grid">
			<StatGridEntry
				icon="material-symbols:person-outline"
				stat={stats.users}
				desc="users"
			/>
			<StatGridEntry
				icon="material-symbols:videogame-asset"
				stat={stats.games}
				desc="games"
			/>
			<StatGridEntry
				icon="material-symbols:person"
				stat={stats.activeUsers}
				desc="active users"
			/>
			<StatGridEntry
				icon="ic:outline-chat-bubble-outline"
				stat={stats.comments}
				desc="comments"
			/>
		</div>
	</div>
	<h2>anything else?</h2>
	<p>
		{stats.updates.toLocaleString("en-US")} updates &bull;
		{stats.faves.toLocaleString("en-US")} favorites &bull;
		{stats.messages.toLocaleString("en-US")} chat messages &bull;
		{stats.pms.toLocaleString("en-US")} private messages &bull;
		{stats.tags.toLocaleString("en-US")} official tags &bull;
		{stats.channels.toLocaleString("en-US")} channels &bull;
		{stats.saves.toLocaleString("en-US")} cloud saves &bull;
		{stats.threads.toLocaleString("en-US")} forum threads &bull;
		{stats.posts.toLocaleString("en-US")} forum posts &bull;
		{stats.ratings.toLocaleString("en-US")} ratings &bull; zero forced ads, ever
	</p>
{:else}
	<div class="unimportant">loading...</div>
{/if}

<style>
	#center-stats {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(100vh - 96px);
		margin-bottom: 100px;
	}

	#grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 10px;
		grid-auto-flow: row;
		margin-top: 10px;
	}

	@media screen and (max-width: 1000px) {
		#grid {
			grid-template-columns: 1fr;
		}
	}
</style>
